{% extends "base.html" %}
{% load static %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'css/dashboard/dashboard.css' %}">

{% endblock styles %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}

    {% include "header.html" %}

    <div class="container-fluid">
        <div class="row">
            {# SideBar #}

            {% include "sidebar.html" %}
            {#Container principal#}
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 pb-5  scrollarea">
                <div class="container mt-3">
                    <h1 class="fs-5">Editar entidad <span class="fs-4">{{ object.nombreEntidad }}</span></h1>

                </div>

                <div class="container-md">
                    <div class="card">
                        <div class="card-body">
                            <form method="post">

                                {% csrf_token %}

                                {% if form.errors %}
                                <div class="alert alert-danger sm mb-3 p-2" role="alert">
                                    <h6>Ha ocurrido un error al intentar guardar el Local</h6>
                                </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-12">
                                    <!--IMPUT NOMBRE ENTIDAD-->
                                    <div class=" mb-4 position-relative">

                                        <label class="form-label">Local:</label>
                                            {{form.nombre}}
                                        {% if form.nombre.errors %}
                                            <div class="alert alert-danger sm m-1 p-2 small" role="alert">
                                                {% for error in form.nombre.errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="mb-4 position-relative">
                                        <label for="{{ form.telefonoEntidad.id_for_label }}"
                                               class="form-label">Tipo:</label>
                                               {{form.tipo}}
                                        {% if form.telefonoEntidad.errors %}
                                            <div class="alert alert-danger sm m-1 p-2 small" role="alert">
                                                {% for error in form.telefonoEntidad.errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            
                            </div>
                            <div class=" position-relative">
                                <a class="text-decoration-none" href="{% url 'local' %}">
                                    <button type="button"
                                            class="btn btn-secondary rounded-0"
                                            data-bs-dismiss="modal">Cancelar
                                    </button>
                                </a>

                                <button type="submit" class="btn btn-success rounded-0" id="btnappend">
                                    Guardar
                                </button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>

            </main>
        </div>
    </div>


    {#    {% include "footer.html" %}#}
{% endblock content %}

{% block scripts %}


{% endblock scripts %}
