{% extends "base.html" %}
{% load static %}

{% block title %}
   {{title}}
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/dashboard/dashboard.css' %}">

{% endblock styles %}

{% block content %}
    {% include "header.html" %}

    <div class="container-fluid">
        <div class="row">
            {# SideBar #}

            {% include "sidebar.html" %}

            {#Container principal#}
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 pb-5 scrollarea">
                <div class="container mt-3">
                    <h1 class="fs-5">{{ title }}</h1>
                </div>
                <!--------------------------------------------------------------------------------------
                   -----------------TABLA CON RESULTADOS DE LAS ENTIDADES------------------------------------
                   -------------------------------------------------------------------------------------------->
                <div class="container mb-5">
                    <div class="card">
                        <div class="card-body">
                            <form action="." method="post"
                                  id="form_insertar_entidad">
                                {% csrf_token %}

                                {% if form.errors %}
                                <div class="alert alert-danger sm mb-3 p-2" role="alert">
                                    <h6>Ha ocurrido un error al intentar guardar el trabajador</h6>
                                </div>
                            {% endif %}
                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="nomb">Nombre Usuario</label>
                                {{form.username}}
                                {%if form.username.errors%}
                                <div class="alert alert-danger sm m-1 p-2 small" role="alert">
                                    {% for error in form.username.errors %}{{ error }}{% endfor %}
                                </div>
                                {%endif%}
                            </div>
                            
                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="pass">Nombre</label>
                                {{form.name}}
                                {%if form.name.errors%}
                                <div class="alert alert-danger sm m-1 p-2 small" role="alert">
                                {% for error in form.name.errors %}{{ error }}{% endfor %}
                                </div>
                                {%endif%} 
                            </div>
                            
                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="corr">Apellidos</label>
                                {{form.apellidos}}
                                {%if form.apellidos.errors%}
                                <div class="alert alert-danger sm m-1 p-2 small" role="alert">
                                {% for error in form.apellidos.errors %}{{ error }}{% endfor %}
                                </div>
                                {%endif%}
                            </div>

                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="nomb">Carnet Identidad</label>
                                {{form.ci}}
                                {%if form.ci.errors%}
                                <div class="alert alert-danger sm m-1 p-2 small" role="alert">
                                {% for error in form.ci.errors %}{{ error }}{% endfor %}
                                </div>
                                {%endif%}
                            </div>
                
                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="pass">Teléfono</label>
                                {{form.tfno}}
                                {%if form.tfno.errors%}
                                <div class="alert alert-danger sm m-1 p-2 small" role="alert">
                                {% for error in form.tfno.errors %}{{ error }}{% endfor %}
                                </div>
                                {%endif%}
                                
                            </div>

                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="pass">Teléfono</label>
                                {{form.groups}}
                                {%if form.groups.errors%}
                                <div class="alert alert-danger sm m-1 p-2 small" role="alert">
                                {% for error in form.groups.errors %}{{ error }}{% endfor %}
                                </div>
                                {%endif%}
                                
                            </div>
                
                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="pass">Contraseña</label>
                                {{form.password1}}
                                {%if form.password1.errors%}
                                <div class="alert alert-danger sm m-1 p-2 small" role="alert">
                                {% for error in form.password1.errors %}{{ error }}{% endfor %}
                                </div>
                                {%endif%}
                            </div>
                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="pass">Confirmar Contraseña</label>
                                {{form.password2}}
                                {%if form.password2.errors%}
                                <div class="alert alert-danger sm m-1 p-2 small" role="alert">
                                {% for error in form.password2.errors %}{{ error }}{% endfor %}
                                </div>
                                {%endif%}
                            </div>
                            
                            <div class=" position-relative">
                                <a class="text-decoration-none" href="{% url 'user'%}">
                                    <button type="button"
                                            class="btn btn-secondary rounded-0"
                                            data-bs-dismiss="modal">Cancelar
                                    </button>
                                </a>

                                <button type="submit" class="btn btn-success rounded-0" id="btnappend">
                                    Guardar
                                </button>
                            </div>
                            </form>
                        </div>
                    </div>

                </div>

            </main>


        </div>
    </div>


    {#    {% include "footer.html" %}#}
{% endblock content %}

{% block scripts %}


    <script type="application/javascript">
        $(function () {
            $('#entidadTable').DataTable({
                responsive: true,
                "language": {
                    url: '{% static 'lib/es-ES.json ' %}'
                }
            });
        });
    </script>
{% endblock scripts %}
