{% extends "base.html" %}
{% load static %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'css/dashboard/dashboard.css' %}">

{% endblock styles %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}

    {% include "header.html" %}

    <div class="container-fluid">
        <div class="row">
            {# SideBar #}

            {% include "sidebar.html" %}
            {#Container principal#}
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 pb-5 scrollarea">
                <div class="container mt-3">
                    <h1 class="fs-5">¿Está seguro? </h1>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="content">
                            <p class="fs-6">¿Está usted seguro que quiere eliminar la Entidad seleccionada? Todos los
                                objetos y
                                sus elementos relacionados con la Entidad serán borrados:</p>
                            <h2 class="fs-5">Objeto:</h2>
                            <ul>
                                <li>
                                    <strong>{{ object.name }} {{ object.apellidos }}</strong>
                                </li>
                            </ul>

                            <!-- Content -->
                            <form method="post">{% csrf_token %}

                                <input class="button btn btn-danger rounded-0" type="submit" value="Si, estoy seguro">
                                <a class="text-decoration-none" href="{% url 'user' %}">
                                    <button type="button" class="btn btn-secondary rounded-0"
                                            data-bs-dismiss="modal">Cancelar
                                    </button>
                                </a>
                            </form>
                            <!-- END Content -->
                            <div id="footer"></div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>


    {#    {% include "footer.html" %}#}
{% endblock content %}

{% block scripts %}


{% endblock scripts %}
